USE [SOHATS]
GO
/****** Object:  Table [dbo].[cikis]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cikis](
	[dosyano] [nvarchar](10) NOT NULL,
	[sevktarihi] [nvarchar](10) NULL,
	[cikissaati] [datetime] NULL,
	[odeme] [nvarchar](20) NULL,
	[toplamtutar] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hasta]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hasta](
	[tckimlikno] [nvarchar](10) NOT NULL,
	[dosyano] [nvarchar](10) NULL,
	[ad] [nvarchar](15) NULL,
	[soyad] [nvarchar](15) NULL,
	[dogumyeri] [nvarchar](15) NULL,
	[dogumtarihi] [datetime] NULL,
	[babaadi] [nvarchar](15) NULL,
	[anneadi] [nvarchar](15) NULL,
	[cinsiyet] [nvarchar](5) NULL,
	[kangrubu] [nvarchar](5) NULL,
	[medenihal] [nvarchar](5) NULL,
	[adres] [nvarchar](255) NULL,
	[tel] [nvarchar](11) NULL,
	[kurumsicilno] [nvarchar](10) NULL,
	[kurumadi] [nvarchar](50) NULL,
	[yakintel] [nvarchar](11) NULL,
	[yakinkurumsicilno] [nvarchar](10) NULL,
	[yakinkurumadi] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[islem]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islem](
	[islemAdi] [nvarchar](50) NULL,
	[birimFiyat] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[kodu] [nvarchar](20) NOT NULL,
	[ad] [nvarchar](20) NULL,
	[soyad] [nvarchar](20) NULL,
	[sifre] [nvarchar](20) NULL,
	[yetki] [nvarchar](5) NULL,
	[evtel] [nvarchar](11) NULL,
	[ceptel] [nvarchar](11) NULL,
	[adres] [nvarchar](255) NULL,
	[unvan] [nvarchar](15) NULL,
	[isebaslama] [datetime] NULL,
	[maas] [nvarchar](20) NULL,
	[dogumyeri] [nvarchar](50) NULL,
	[annead] [nvarchar](20) NULL,
	[babaad] [nvarchar](20) NULL,
	[cinsiyet] [nvarchar](5) NULL,
	[kangrubu] [nvarchar](10) NULL,
	[medenihal] [nvarchar](10) NULL,
	[dogumtarihi] [datetime] NULL,
	[tckimlikno] [nvarchar](11) NULL,
	[username] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poliklinik]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poliklinik](
	[poliklinikadi] [nvarchar](50) NOT NULL,
	[durum] [nvarchar](5) NULL,
	[aciklama] [nvarchar](255) NULL,
	[gecerli] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sevk]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sevk](
	[sevktarihi] [nvarchar](10) NOT NULL,
	[dosyano] [nvarchar](50) NOT NULL,
	[poliklinik] [nvarchar](50) NULL,
	[saat] [datetime] NULL,
	[yapilanislem] [nvarchar](50) NULL,
	[drkod] [char](10) NULL,
	[miktar] [char](3) NULL,
	[birimfiyat] [nvarchar](20) NULL,
	[sira] [nvarchar](3) NULL,
	[toplamtutar] [nvarchar](50) NULL,
	[taburcu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[hasta] ([tckimlikno], [dosyano], [ad], [soyad], [dogumyeri], [dogumtarihi], [babaadi], [anneadi], [cinsiyet], [kangrubu], [medenihal], [adres], [tel], [kurumsicilno], [kurumadi], [yakintel], [yakinkurumsicilno], [yakinkurumadi]) VALUES (N'12345678', N'1', N'Ahmet', N'Yılmaz', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'SGK', NULL, NULL, NULL)
GO
INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (N'00001', N'Ali', N'Kaya', N'12345', N'True', N'2415623', N'05356789020', N'as kjjfjdhf jdfjhbfhjr', N'Doktor', CAST(N'2005-11-27T00:00:00.000' AS DateTime), N'1500', N'Erzurum', N'Hatice', N'Hamza', N'Bay', N'ARH+', N'Bekar', CAST(N'1995-12-23T00:00:00.000' AS DateTime), N'12345678908', N'k1')
INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (N'00002', NULL, N'', N'123', N'False', NULL, N'fdfrr', N'aaaaaaaaa', N'Operatör', CAST(N'1933-03-03T00:00:00.000' AS DateTime), NULL, N'Denizli', N'Aysu', N'Mehmet', NULL, NULL, NULL, CAST(N'1970-05-05T00:00:00.000' AS DateTime), N'212121', N'k2')
INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (N'00003', NULL, NULL, N'456', N'False', NULL, NULL, NULL, N'Sağlık Personel', CAST(N'1995-07-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'k3')
GO
INSERT [dbo].[poliklinik] ([poliklinikadi], [durum], [aciklama], [gecerli]) VALUES (N'Poliklinik4', NULL, N'', N'Geçerli')
INSERT [dbo].[poliklinik] ([poliklinikadi], [durum], [aciklama], [gecerli]) VALUES (N'Poliklinik2', NULL, NULL, NULL)
INSERT [dbo].[poliklinik] ([poliklinikadi], [durum], [aciklama], [gecerli]) VALUES (N'Poliklinik3', NULL, NULL, NULL)
GO
INSERT [dbo].[sevk] ([sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (N'Dec 26 202', N'1', N'Genel Cerrahi', CAST(N'1900-01-01T15:33:00.000' AS DateTime), N'Röntgen', N'D001-Ahmet', N'1  ', N'150', N'60', N'150', N'15:58')
INSERT [dbo].[sevk] ([sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (N'Dec 26 202', N'1', N'Genel Cerrahi', CAST(N'1900-01-01T15:41:00.000' AS DateTime), N'Kan Tahlili', N'D003-Ayşe ', N'1  ', N'250', N'69', N'250', N'15:58')
INSERT [dbo].[sevk] ([sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (N'Dec 26 202', N'1', N'Genel Cerrahi', CAST(N'1900-01-01T15:43:00.000' AS DateTime), N'Kan Tahlili', N'D003-Ayşe ', N'1  ', N'250', N'69', N'250', N'15:58')
GO
/****** Object:  StoredProcedure [dbo].[delete_hasta]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hasta Silme
CREATE PROCEDURE [dbo].[delete_hasta]
    @dosyano nvarchar(50)
AS
BEGIN
    DELETE FROM hasta WHERE dosyano = @dosyano
END
GO
/****** Object:  StoredProcedure [dbo].[delete_kullanici]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kullanıcı Silme
CREATE PROCEDURE [dbo].[delete_kullanici]
    @kodu nvarchar(20)
AS
BEGIN
    DELETE FROM kullanici WHERE kodu = @kodu
END
GO
/****** Object:  StoredProcedure [dbo].[delete_poliklinik]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_poliklinik]
    @poliklinikadi nvarchar(50)
AS
BEGIN
    DELETE FROM poliklinik WHERE poliklinikadi = @poliklinikadi
END
GO
/****** Object:  StoredProcedure [dbo].[delete_sevk]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sevk/İşlem Silme
CREATE PROCEDURE [dbo].[delete_sevk]
    @dosyano nvarchar(50),
    @sevktarihi nvarchar(10),
    @sira nvarchar(3)
AS
BEGIN
    DELETE FROM sevk WHERE dosyano = @dosyano AND sevktarihi = @sevktarihi AND sira = @sira
END
GO
/****** Object:  StoredProcedure [dbo].[dosyano_ile_bul]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dosyano_ile_bul]
    @dosyano nvarchar(50)
AS
BEGIN
    SELECT * FROM hasta WHERE dosyano = @dosyano
END
GO
/****** Object:  StoredProcedure [dbo].[hastaAdi_ile_bul]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[hastaAdi_ile_bul]
    @ad nvarchar(20)
AS
BEGIN
    SELECT * FROM hasta WHERE ad LIKE @ad + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[insert_cikis]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_cikis]
    @dosyano nvarchar(50), @sevktarihi nvarchar(10), @cikissaati nvarchar(10), @toplamtutar nvarchar(50)
AS
BEGIN
    -- Bu genellikle sevk tablosundaki taburcu alanını günceller veya cikis tablosuna yazar
    INSERT INTO cikis (dosyano, sevktarihi, cikissaati, toplamtutar)
    VALUES (@dosyano, @sevktarihi, @cikissaati, @toplamtutar)
END
GO
/****** Object:  StoredProcedure [dbo].[insert_hasta]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Yeni Hasta Ekleme
CREATE PROCEDURE [dbo].[insert_hasta]
    @dosyano nvarchar(50), @ad nvarchar(20), @soyad nvarchar(20), @tckimlikno nvarchar(11) -- Diğer alanları ihtiyaca göre ekleyebilirsin
AS
BEGIN
    INSERT INTO hasta (dosyano, ad, soyad, tckimlikno) 
    VALUES (@dosyano, @ad, @soyad, @tckimlikno)
END
GO
/****** Object:  StoredProcedure [dbo].[insert_kullanici]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_kullanici]
    @kodu nvarchar(20), @ad nvarchar(20), @soyad nvarchar(20), @sifre nvarchar(20),
    @yetki nvarchar(5), @evtel nvarchar(11), @ceptel nvarchar(11), @adres nvarchar(255),
    @unvan nvarchar(15), @username nvarchar(50)
AS
BEGIN
    INSERT INTO kullanici (kodu, ad, soyad, sifre, yetki, evtel, ceptel, adres, unvan, username)
    VALUES (@kodu, @ad, @soyad, @sifre, @yetki, @evtel, @ceptel, @adres, @unvan, @username)
END
GO
/****** Object:  StoredProcedure [dbo].[insert_poliklinik]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_poliklinik]
    @poliklinikadi nvarchar(50),
    @gecerli nvarchar(10)
AS
BEGIN
    INSERT INTO poliklinik (poliklinikadi, gecerli)
    VALUES (@poliklinikadi, @gecerli)
END
GO
/****** Object:  StoredProcedure [dbo].[insert_sevk]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Yeni Sevk/İşlem Ekleme
CREATE PROCEDURE [dbo].[insert_sevk]
    @sevktarihi nvarchar(10), @dosyano nvarchar(50), @poliklinik nvarchar(50), 
    @saat nvarchar(10), @yapilanislem nvarchar(50), @drkod char(10), 
    @miktar char(3), @birimfiyat nvarchar(20), @sira nvarchar(3), @toplamtutar nvarchar(50)
AS
BEGIN
    INSERT INTO sevk (sevktarihi, dosyano, poliklinik, saat, yapilanislem, drkod, miktar, birimfiyat, sira, toplamtutar)
    VALUES (@sevktarihi, @dosyano, @poliklinik, @saat, @yapilanislem, @drkod, @miktar, @birimfiyat, @sira, @toplamtutar)
END
GO
/****** Object:  StoredProcedure [dbo].[update_hasta]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hasta Bilgisi Güncelleme
CREATE PROCEDURE [dbo].[update_hasta]
    @dosyano nvarchar(50), @ad nvarchar(20), @soyad nvarchar(20)
AS
BEGIN
    UPDATE hasta SET ad=@ad, soyad=@soyad WHERE dosyano=@dosyano
END
GO
/****** Object:  StoredProcedure [dbo].[update_kullanici]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_kullanici]
    @kodu nvarchar(20), @ad nvarchar(20), @soyad nvarchar(20), @sifre nvarchar(20), @unvan nvarchar(15)
AS
BEGIN
    UPDATE kullanici 
    SET ad=@ad, soyad=@soyad, sifre=@sifre, unvan=@unvan 
    WHERE kodu=@kodu
END
GO
/****** Object:  StoredProcedure [dbo].[update_poliklinik]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_poliklinik]
    @poliklinikadi nvarchar(50), @gecerli nvarchar(10)
AS
BEGIN
    UPDATE poliklinik 
    SET gecerli=@gecerli 
    WHERE poliklinikadi=@poliklinikadi
END
GO
/****** Object:  StoredProcedure [dbo].[update_sevk]    Script Date: 27.12.2025 23:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sevk Taburcu Güncelleme (Çıkış İşlemi)
CREATE PROCEDURE [dbo].[update_sevk]
    @dosyano nvarchar(50), @sevktarihi nvarchar(10), @taburcu nvarchar(50)
AS
BEGIN
    UPDATE sevk SET taburcu = @taburcu 
    WHERE dosyano = @dosyano AND sevktarihi = @sevktarihi
END
GO
